.web-sec{
  padding: 70px 0;
}
.web{
  width: 50%;
  h2{
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .para{
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    margin: 30px 70px 20px 0;
  }
  p{
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
  }
  button{
    background-color: #419DF4;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: Relway sans-serif;
    padding: 20px 45px;
    margin: 20px 0;
}
}
.web-img{
  width: 50%;
 }
.business-sec{
  padding: 30px 0;
}
.business{
  width: 55%;
  h3{
    font-weight: 700;
    font-family: "Montserrat", sans-serif !important;
    font-size: 48px;
  }
  .para2{
    padding: 20px 0;
    color: #B09C99;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
  }
}
.about-it{
  background-color: #4CCA77;
  width: 310px;
  color: white;
  border-radius: 50%;
  text-align: center;
  height: 310px;
  i{
    font-size: 55px;
    color: white;
    padding: 25px 0;
  }
  h3{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    padding: 20px 0;
  }
  p{
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    padding: 20px ;
  }
}
.about-us-sec{
  background: #FFFFFF;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(65, 157, 244, 1) 0%, rgba(65, 157, 244, 1) 50%, rgba(255, 255, 255, 1) 50%);
}
.size{
  width: 85%;
}
.about-us {
  color: white;
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  padding: 45px 30px;
  h3{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    padding: 30px 0;
  }
  .para4{
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    line-height: 1.6;
    padding: 15px 0;
  }
}
.about-us2{
  width: 48%;
  h3{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
  }
  .para4{
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    line-height: 1.6;
    color: #B09C99;
  }
  button{
    background-color: #F1E00E;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: Relway sans-serif;
    padding: 20px 45px;
    margin: 20px 0;
  }
}
.idea-sec{
  padding: 50px 0;
}
.idea-img{
  width: 50%;
}
.idea{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #F1E00E;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  justify-content: center;
  margin-bottom: 55%;
  h3{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .para5{
    font-size:16px ;
    padding: 20px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
  }
}
.help-sec{
  padding: 50px 0;
  h3{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}
.solution{
  width: 32%;
  background-color: #4CCA77;
  color: white;
  height: 400px;
  padding: 40px ;
  h3{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 15px;
  }
}
.help-sec2{
  padding: 50px 0;
}
.solution2{
  width: 34%;
  padding: 40px;
  h3{
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  p{
    font-size: 16px;
    padding: 20px 0;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
  img{
    width: 65px;
    height: 65px;
  }
}
.design-sec{
  padding: 50px 0;
}
.develop{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.developed{
  width: 55%;
  img{
    width: 70px;
    height: 70px;
  }
  h2{
    font-size: 72px;
    font-family: "Montserrat", sans-serif;
    padding: 20px 0;
  }
  h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
  }
  .para6{
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    padding: 20px 0;
  }
  button{
    background-color: #F1E00E;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: Relway sans-serif;
    padding: 20px 45px;
    margin: 20px 0;
  }
}
.develop2{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #419DF4;
}
.developed2{
  width: 55%;
  margin: 20%;
  color: white;
  img{
    width: 70px;
    height: 70px;
  }
  h2{
    font-size: 72px;
    font-family: "Montserrat", sans-serif;
    padding: 20px 0;
  }
  h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
  }
  .para6{
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    padding: 20px 0;
  }
  button{
    background-color: #F1E00E;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: Relway sans-serif;
    padding: 20px 45px;
    margin: 20px 0;
  }
}
.team-sec{
  padding: 50px 0;
}
.team{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
img{
  width: 170px;
  height: 170px;
  border-radius:50% ;
  object-fit: cover;
}
  h3{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0;
  }
  p{
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    padding: 10px 55px;
  }
}
.btn{
    background-color: #419DF4;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: Relway sans-serif;
    padding: 20px 45px;
    margin: 20px auto;
  display: block;
}
.plans{
  padding: 50px 0;
  h2{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
  }
}
.plan1{
  background: #FFFFFF;
  background: linear-gradient(180deg, rgb(255, 255, 255) 24%, rgb(76, 202, 119) 11%, rgb(103, 210, 140) 43%, rgb(255, 255, 255) 43%);
  width: 30%;
  text-align: center;
  box-shadow: 0px 3px 50px -3px rgba(0,0,0,0.1);
  padding: 35px 0;
  h4{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding: 10px 0;
    text-transform: uppercase;
}
  h2{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 60px;
    padding: 40px 0;
  }
  p{
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    padding: 10px 0;
  }
  button{
    background-color: #F1E00E;
    color: white;
    border: none;
    padding: 20px 50px;
  }
}
.plan2{
  background: #FFFFFF;
  background: linear-gradient(180deg, rgb(241, 224, 14) 24%, rgb(76, 202, 119) 11%, rgb(103, 210, 140) 43%, rgb(241, 224, 14) 43%);
  width: 30%;
  text-align: center;
  box-shadow: 0px 3px 50px -3px rgba(0,0,0,0.1);
  padding: 35px 0;
  h4{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    padding: 10px 0;
    text-transform: uppercase;
  }
  h2{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 60px;
    padding: 40px 0;
  }
  p{
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    padding: 10px 0;
  }
  button{
    background-color: #67D28CFF;
    color: white;
    border: none;
    padding: 20px 50px;
  }
}
.info{
  padding: 50px 0;
}
.company{
  width: 50%;
}
.ceo{
  width: 75%;
  padding: 25px 0;
  img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
  }
  .para7{
    font-size: 15px;
    font-family: "OpenSans", sans-serif;
    line-height: 1.5;
    padding: 25px 0;
  }
  h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
  }
  p{
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
  }
}
.quote{
  width: 50%;
  h3{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
  }
  label{
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
  }
  input{
    background-color: #F2F2F2;
    color: #9B9B9B;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
  }
  textarea{
    background-color: #F2F2F2;
    border: none;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
  }
  button{
    background-color: #4BC876;
    color: white;
    padding: 20px;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    margin: 20px 0;
    width: 100%;
  }
}
.about-ceo{
  width: 58%;
}